body {
  width:90%;
  border:1px solid black;
  margin:10px auto;
}

#header {
  margin:1%;
}

#section {
  clear:both;
  width:58%;
  padding:1%;
  float:left;
  margin:1%;
  height:550px;
  background-color:green;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#aside {
  width:38%;
  padding:1%;
  margin:1%;
  height:400px;
  float:right;
  background-color:blue; 
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#nav {
  text-align:center;
}

#nav li {
  list-style-type:none;
  display:inline;
  margin-right:2em;
}

.aboutpic {
  margin:25% 30%;
}

#nav a {
  color:#000;
}

#nav a:hover {
  color:#2b2b2b;
  font-size:1.1em;
}

#footer {
  clear:both;
  margin:1%;
}

.error {
  color:red;
}

.hidden {
  display:none;
}

.submit {
  border-radius:10px;
}

input#zip-code {
  width:8%;
  
}


#main-menu ul {
  list-style-type:none;
  padding-left:10px;
  position:relative;
}

#main-menu li {
  float:left;
}

#main-menu li a {
  background:#778899;
  text-decoration:none;
  padding:10px 20px;
  display:block;
}

#main-menu li a:hover {
  background: skyblue;
  color: #000;
}

/* sub menu styles */

#main-menu ul li ul {
  position:absolute;
  visibility:hidden;
  opacity:0;
  transition: visibility 0s linear 1s, opacity 1s linear;
}

#main-menu ul li:hover ul {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

#main-menu ul li ul li {
  float:none;
  background:#778899;
}

#main-menu ul li ul li:hover {
  background:magenta;
}


@media all and (min-width:481px) and (max-width:790px) {
  #footer p {
    text-align:center;
  }
}


@media all and (max-width:480px) {
  #section, #aside {
    float:none;
    width:98%;
  }    
  #main-menu ul li {
   font-size:.9em; 
  }
  
   #main-menu ul li a {
     padding:7px;
   }
  
  #header h2 {
    display:none;
  }
  
  #aside li {
    font-size:.5em;
  }
  
  #footer p {
    font-size:.8em;
    text-align:center;
  }
  
} /****** dont delete curly *******/


